# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

# yaml-language-server: $schema=https://json.schemastore.org/dependabot-2.0.json

version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    target-branch: "next"
    assignees:
      - "XFox111"
    schedule:
      interval: monthly
    rebase-strategy: disabled
    groups:
      all:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "next"
    assignees:
      - "XFox111"
    schedule:
      interval: monthly
    rebase-strategy: disabled
    groups:
      all:
        patterns:
          - "*"

  - package-ecosystem: "devcontainers"
    directory: "/"
    target-branch: "next"
    assignees:
      - "XFox111"
    schedule:
      interval: monthly
    rebase-strategy: disabled
    groups:
      all:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/"
    target-branch: "next"
    assignees:
      - "XFox111"
    schedule:
      interval: monthly
    rebase-strategy: disabled
    groups:
      all:
        patterns:
          - "*"
